.ib-button {
    text-align: -webkit-center;
    text-align: center;
    padding: 30px 0px;
}

.ib-button a {
    padding: 14px;
    border-radius: 3px;
    @include button-shadow;
}

.ib-button-main-color a {
    background: $theme-main-color;
    color: $theme-white;
}