// Media queries mixins
@mixin mobile-portrait {
  @media screen and (min-width: $brk-mobile-portrait) {
    @content;
  }
}

@mixin mobile-landscape-nrw {
  @media screen and (min-width: $brk-mobile-landscape-nrw) {
    @content;
  }
}

@mixin mobile-landscape-mid {
  @media screen and (min-width: $brk-mobile-landscape-mid) {
    @content;
  }
}

@mixin mobile-landscape-norm {
  @media screen and (min-width: $brk-mobile-landscape-norm) {
    @content;
  }
}

@mixin mobile-landscape-wide {
  @media screen and (min-width: $brk-mobile-landscape-wide) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $brk-tablets) {
    @content;
  }
}

@mixin displays {
  @media screen and (min-width: $brk-displays){
    @content;
  }
}

@mixin displays-mid {
  @media screen and (min-width: $brk-displays-mid){
    @content;
  }
}

// Boxshadow
@mixin text-shadow-text {
  text-shadow: 1px 1px 1px #000;
}

@mixin text-shadow-headline {
  text-shadow: 2px 2px 2px #000;
}


@mixin button-shadow {
  box-shadow: 2px 2px 4px #555;
}

@mixin img-shadow {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

// Transition and Transform
@mixin hoverIn {
  transition: 0.7s;
}

@mixin hoverOut {
  transition: 0.5s;
}

