// Medis queries variables
$brk-mobile-portrait        : 411px;
$brk-mobile-landscape-nrw   : 480px;
$brk-mobile-landscape-mid   : 568px;
$brk-mobile-landscape-norm  : 640px;
$brk-mobile-landscape-wide  : 730px;
$brk-tablets                : 768px;
$brk-displays               : 1024px;
$brk-displays-mid           : 1248px;

// Main colors
$theme-main-color       : #7cb2d8;
$theme-light-main-color : #b9c9d6;
$theme-txt              : #333333;

$theme-extra-color      :#fdf9f1;

$theme-white            : #ffffff;

$box-shadow             : rgba(0,0,0,0.3);
